.container {
    font-size: 1.5em;
    color: #F28627;
    margin-top: 4em;
    text-align: center;
}

.not-empty {
    background-color: rgba(1,24,38,.7);
    text-align: -webkit-center;
}

th {
    text-align: center;
}

table {
    table-layout: fixed;
}

td {
    padding-left: 2em;
    padding-right: 2em;
    border-top: solid 2px #F28627;
    /*max-height: 5em;*/
    overflow: hidden;
}

.container button, .get-users > button {
    font-size: 0.7em;
    color: #011826;
    border-radius: 10px;
    width: 2.5em;
    letter-spacing: 0.1em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}

#btn {
    width: 5.5em;
}

.container button:hover, button:hover {
    background-color: #011826;
    border-color: #F28627;
    color: #F28627;
}

.get-users > button {
    font-size: 1.2em;
    width: auto;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .container {
        margin-top: 4em;
        padding: 0;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "ID"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Email"; }
    td:nth-of-type(4):before { content: "Role"; }
    td:nth-of-type(5):before { content: "Action"; }
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 0.5em;
        padding: 0;
    }
    .not-empty {
        margin-top: 2em;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "ID"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Email"; }
    td:nth-of-type(4):before { content: "Role"; }
    td:nth-of-type(5):before { content: "Action"; }
}
