.container {
    font-size: 1.5em;
    background-color: rgba(1,24,38,.7);
    color: #F28627;
    margin-top: 5em;
    text-align: center;
}

.container h1, h2 {
    margin: 0.2em;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
}

.container h4 {
    margin: 0.1em;
}

.description label{
    float: left;
}

.fav-game {
    margin-top: 1.5em;
}

select.form-control {
    margin-left: 4em;
}

.file-upload {
    font-size: 0.7em;
    margin-left: 2em;
}

.container button {
    margin-top: 1.5em;
    color: #011826;
    border-radius: 10px;
    width: 5em;
    letter-spacing: 0.1em;
}

.container button:hover {
    background-color: #011826;
    border-color: #F28627;
    color: #F28627;
}

.user-pic img{
    width: 10em;
    height: 10em;
    padding: 0.2em;
    margin: auto;
    overflow: hidden;
}

/*.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}*/

@media screen and (max-width: 992px) {
    .container {
        margin-top: 3em;
    }
    select.form-control {
        margin-left: 2em;
    }
    .file-upload {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 1em;
    }
    select.form-control {
    margin-left: 0.5em;
    }
    .file-upload {
        margin-left: 5em;
    }
    .container button {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

}
